h1{
    color: #0000FF;
}

h2,p{
    color:#FC2626;
}

/*{
    border:solid;
}*/

.header{
    background-color: #7FFFD4;
    display:flex;
    justify-content: space-between;
}

.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer{
    display:flex;
    justify-content: flex-end;
}

body{
    background-color: #808080
    ;
}